body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom right, #eef2ff, #dce4ff);
  margin: 0;
  color: #333;
  text-align: center;
}

header {
  background-color: #2c3e75;
  color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  width: 80px;
  border-radius: 10px;
}

main {
  padding: 3rem 1rem;
}

h2 {
  color: #2c3e75;
  font-size: 2rem;
}

p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.acciones {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.boton {
  display: inline-block;
  background-color: #2c3e75;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s, background 0.3s;
}

.boton:hover {
  background-color: #3b56a1;
  transform: translateY(-3px);
}

.boton.secundario {
  background-color: #4c64d5;
}

footer {
  background: #2c3e75;
  color: white;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 22rem;
}
