body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #888;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

article.card {
  background: white;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}
